body {
  font-family: 'Unbounded SemiBold', 'Montserrat', 'Arial';
  background-color: #0f0f0f;
  color: #ffffff;
  text-align: center;
  margin: 0;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.hobbies h2 {
  font-size: 24px;
}

.hobbies li {
  margin: 29px;
  display: flex;
  left: 20px;
}

nav {
  background-color: #0c0c0c;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  transition: 0.6s;
  color:#ff5100
}

.keywords a {
  color: rgb(255, 255, 255);
  margin-right: 30px; 
  line-height: 36px;
  float: right;
}
footer {
  background-color: #0c0c0c;
  margin-top: 410px;
  height: 90px;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 30px;
  bottom: 20px;
}
footer a:hover {
  transition: 0.6s ease;
  color:#ff5100
}
footer p {
  position: relative;
  top: 60px;
  right: 15px;
}
.nav-logo img {
  position: absolute;
  width: 70px;
  top: -28px;
  left: 10px;

}
.main-title h1 {
  font-size: 6em;
  margin-bottom: -2px;
  font-family: 'Unbounded SemiBold', 'Montserrat', 'Arial';
}

.zack {
  color: #ff5100;
  font-size: 1em;
}

.hobbies {
  margin-bottom: -10px;
}

ul {
  list-style-type: disc;
}
.pets {
  text-align: center;
}

.hobbies h1 {
  font-size: 1em;
}

.introduction h1 {
  float: left;
}

.reasoning h1 {
  font-size: 1em;
  width: 95%;
  margin-left: 21px;
}

.reasoning p {
  position: absolute;
  bottom: 10px;
}

.pets h1 {
  font-size: 1em;
}

.utilization h1 {
  font-size: 1em;
  width: 95%;
  margin-left: 21px;
}

.facts h1 {
  font-size: 1em;
}

.gaming-setup img {
  height: 200px;
}

.coding img {
  height: 200px;
}

.cooper img {
  height: 200px;
}

.lowes img {
  height: 200px;
}

.dadandcoop img {
  height: 200px;
}

.bryce img {
  height: 200px;
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 10;
}
.gallery img {
  margin: 10px;
}

.gallery-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.reasoning-style {
  color:rgb(255, 153, 0);
  font-size: 16;
}
.util-style {
  color:rgb(255, 208, 0);
  font-size: 16
}

.facts-style {
  color:rgb(255, 153, 0);
  font-size: 16;
}

.pets-style {
  color:rgb(255, 81, 0);
  font-size: 16;
}

.gaming-setup {
  color:rgb(255, 208, 0);
}

.coding {
  color:rgb(255, 208, 0);
}

.cooper {
  color:rgb(255, 208, 0);
}

.lowes {
  color:rgb(255, 208, 0);
}

.dadandcoop {
  color:rgb(255, 208, 0);
}

.bryce {
  color:rgb(255, 208, 0);
}

.return-home {
  padding: 100px;
}

.return-home a {
  text-decoration: none;
  color: white;

}

.view-gallery a:hover {
  color:rgb(255, 81, 0);
  transition: 0.6s ease;
}

.view-gallery a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.return-home a {
  color:rgb(255, 255, 255)
}

.return-home a:hover {
  color: rgb(255, 81, 0);
  transition: 0.6s ease;
}