body {
  font-family: Source Sans Pro;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  float: right;
  padding: 15px;
  margin-right: 9px;
}

header {
  background-image: url('images/background.png');
  background-position: center center;
  height: 110vh;
}

header a img {
  margin-left: 20px;
}