body {
  font-family: 'Source Sans Pro';
  padding: 0;
  margin: 0;
}

nav {
  margin-right: 100px;
  margin-top: 30px;
  float: right;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  padding: 5px;
}

header {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: auto;
}

header a img {
  margin-left: 100px;
  margin-top: 30px;
}

.banner h1 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 10px;
  font-size: 120px;
  font-weight: 700; 
  color: #ffffff;
}

.banner p {
  color: white;
  text-align: center;
}

.smile { /* TODO: compress smile, grin, and laugh into one class */
  margin-right: 200px;
  margin-top: -100px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.grin {
  text-align: center;
  margin-top: -36px;
  font-weight: 700;
  color: #ffffff;
}

.laugh {
  text-align: center;
  margin-left: 200px;
  margin-top: -36px;
  font-weight: 700;
  color:#ffffff;
}

.button-style {
  background-color: #c271ff;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 1px 1px 20px 1px black;
  font-size: 14px;
  padding: 10px;
  width: 150px;
}

.free-button {
  font-family: Source Sans Pro;
  background-color: #C271FF;
  border-radius: 100px;
  font-weight: 600;
  box-shadow: 1px 1px 20px 1px black;
  color: #ffffff;
  font-size: 14px;
  border: none;
}

.membership button {
  margin: 40px auto;
  display: block;
  width: 162px;
  height: 44px;
}

.membership button:hover {
  background-color: #854eaf;
  transition: 0.3s ease;
}

.banner button {
  margin: 40px auto;
  display: block;
  width: 162px;
  height: 44px;
}

.banner button:hover {
  background-color: #854eaf;
  transition: 0.3s ease;
}

.slogan h2 {
  text-align: center;
  margin-top: 200px;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
}

.learn {
  color: #C271FF;
  font-weight: 700;
}

.avatars {
  justify-content: space-evenly;
  text-align: center;
  padding: 100px;
  color: white;
  display: flex;
}

.avatars p {
  font-style: italic;
}

.quote {
  background-color:#C271FF;
  align-items: center;
  color: #ffffff;
  height: 392px;
  display: flex;
}

.quote img { /* fix these margins */
  margin: 240px 100px 250px 350px;
}

.quote-desc {
  display: flex;
  flex-direction: column;
}

.quote-desc blockquote {
  font-size: 22px;
  margin-left: -20px;
  margin-bottom: 40px;
  margin-top: -20px;
}

.info p {
  margin-left: -20px;
  margin-top: 20px;
}

.text1 {
  font-size: 22px;
  font-weight: bold;
}

.text2 {
  font-size: 22px;
  font-style: italic;
}

.tutorials-header h1 {
  margin: 80px 0px 80px 0px;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.time {
  align-items: center;
  display: flex;
}

.time img {
  padding: 2px;
}

.time p {
  margin-left: 110px;
  color: #c271ff;
}

.phillip-pfp img {
  height: 30px;
  width: 30px;
}

.videos {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.membership {
  background-color: #071629;
  align-items: center;
  margin-top: 80px;
  height: 502px;
  display: grid;
}

.membership h2 {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.membership p {
  font-size: 14px;
  color: white;
}

.membership h1 {
  justify-content: center;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  display: flex;
}

.free {
  margin-right: 5px;
  font-weight: 700;
  color: #c271ff;
}

.person-name {
  margin-left: 30.2em;
  display: flex;
}

.title {
  margin-left: 30.2em;
  font-weight: 300;
  display: flex;
}

.smiles {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 100px;
}

.faq h1 {
  justify-content: center;
  line-height: 75.42px;
  font-weight: 300;
  margin-top: 80px;
  font-size: 60px;
  display: flex;
}

.item {
  margin: 80px;
}

.item h2 {
  font-weight: 700;
  font-size: 16px;
}

.row {
  justify-content: center;
  margin-top: -80px;
  display: flex;
}

.item p {
  color: #07162980;
  line-height: 24px;
}

footer {
  background-color:#071629;
  height: 249px;
}

.footer-logo {
  margin-left: 200px;
  margin-top: 115px;
  text-align: left;
}

.social-icons {
  margin-right: 200px;
  margin-top: -50px;
  text-align: right;
}

.social-icons img {
  margin-top: -50px;
  margin: 10px;
}

.copyright {
  justify-content: center;
  margin-top: 10px;
  font-weight: 400;
  color: #ffffff;
  opacity: 35.17%;
  font-size: 12px;
  display: flex;
}

.info {
  flex-direction: column;
  line-height: 1px;
  display: flex;
}

.no-wrap {
  white-space: nowrap;
  text-align: left;                
  margin-left: 0;
}

.p1 {
  font-style: italic;
  font-weight: 700;
  display: flex;
}

.smile-type {
  font-weight: bold;
}

.desc {
  color: #07162980;
}

.videos-pfp {
  width: 30px;
  height: 30px;
}

.author-information p {
  font-size: 14px;
  color: #C271FF;
}

.info p {
  margin-bottom: 15px;
}

.values span {
  margin: 20px;
  font-weight: 700px;
  font-size: 16px;
}

.play-button img {
  position: absolute;
}