body {
  font-family: 'Source Sans Pro Regular';
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}
nav a {
  text-decoration: none;
  padding: 5px;
  margin-right: 40px;
  font-weight: 700px;
  font-size: 12px;
  color: white;
}

header {
  background-image: url('images/background.png');
  background-position: center;
  background-size: 100%;
  height: 150vh;
}

header a img {
  margin-top: 30px;
  margin-left: 100px;
}

.banner h1 {
  color: rgb(255, 255, 255);
  font-size: 120px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
}

.smile {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 200px;
  margin-top: -100px;
  font-weight: 700;
}

.grin {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: -36px;
  font-weight: 700;
}

.laugh {
  color:rgb(255, 255, 255);
  text-align: center;
  margin-left: 200px;
  margin-top: -36px;
  font-weight: 700;
}



.button-style {
  font-family: Source Sans Pro;
  background-color: #C271FF;
  border: none;
  width: 150px;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 20px;
  border-radius: 100px;
}

.banner button {
  margin: 55px auto;
  width: 162px;
  height: 44px;
  display: block;
}

.banner button:hover {
  background-color: #a45fd8;
  transition: 0.3s ease;
}

.slogan h2 {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-top: 100px;
}

.learn {
  color: #C271FF;
  font-weight: 700;
}

.avatars {
  color: white;
  text-align: center;
  display: flex;
  padding: 100px;
  justify-content: space-evenly;
}

.avatars p {
  font-style: italic;
}

.quote {
  background-color:#C271FF;
}

.quote img {
  margin: 100px 100px 100px 380px;
}

.blockquote {
  font-family: Source Sans Pro;
  color: white;
  float: right;
}

.blockquote p {
  font-weight: 700;
  font-style: italic;
}

.tutorials-header h1 {
  text-align: center;
}

.videos {
  display: flex;
  justify-content: space-evenly;
}

.videos h2 {
  font-size: 16px;
  font-weight: 700;
}

.videos p {
  color: rgba(7, 22, 41, 0.5);
}

.videos h3 {
  color: rgba(194, 113, 255, 1);
  font-size: 14px;
  margin-left: 40px;
  margin-top: -28px;
}

.time p {
  color: rgba(194, 113, 255, 1);
  font-size: 14px;
}

.phillip-pfp img {
  width: 30px;
  height: 30px;
}

.membership {
  background-color: rgba(7, 22, 41, 1);
  display: flex;
  justify-content: center;
}

.membership h2 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.membership p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.membership h1 {
  color: white;
  font-weight: 300;
  text-align: center;
}

.free {
  color: rgba(194, 113, 255, 1);
  font-weight: 700;
}